---
layout: default
---
{%- include header.html -%}
<main class="post__wrapper">
  {%- include header_nav.html -%}
  <div class="post__top_navs clearfix">
    <nav class="post__archive_path">
      {%- assign blog_page_path = site.theme_setting.blog_page | default: "index.md" %}
      {%- assign blog_page = site.pages | where: "path", blog_page_path | first -%}
      <a href="{{ blog_page.url | relative_url }}" id="archiveBtn">&larr; Back</a>
    </nav>
  </div>
  <article class="post">
    <header class="post__header">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <div class="post__meta">
        {%- if page.author or site.author -%}
        <div class="post__byline">By {{ page.author | default: site.author }}</div>
        {%- endif -%}
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
        {%- assign words = page.content | number_of_words -%}
        {%- assign minutes = words | divided_by: 238 -%}
        {%- if minutes < 1 -%}{%- assign minutes = 1 -%}{%- endif -%}
        <span class="post__reading-time"> · {{ minutes }} min read</span>
      </div>
    </header>
    <div class="post__content content">
      {{ content | toc | img_prefix }}
    </div>
  </article>
  {%- if site.comment.enabled -%}
  {% include comments.html -%}
  {%- else -%}
  {% include contact.html -%}
  {%- endif -%}
</main>
{%- if site.theme_setting.code or page.code -%}
  <script>hljs.initHighlightingOnLoad();</script>
{%- endif -%}
{%- include footer.html -%}